<div class="row">
	<div class="span9"><h1>Donation Detail</h1></div>
		<div class="span3">
			<div class="options">
			<div class="h4sprite save"></div>
			<div class="h4sprite printer"></div>
			<div class="h4sprite email"></div>
			<div class="h4sprite trash"></div>
		</div>
	</div>
</div>
<div class="line"></div>
<%= render 'form' %>
