<div class="control-group">
  <%= label_tag :start_date, "Start Date", :class => 'control-label' %>
  <div class="controls">
    <%= text_field_tag :start_date %>
  </div>
</div>

<div class="control-group">
  <%= label_tag :end_date, "End Date", :class => 'control-label' %>
  <div class="controls">
    <%= text_field_tag :end_date %>
  </div>
</div>