<div class="control-group">
  <%= label_tag :start_date, "Start Date", :class => 'control-label' %>
  <div class="controls">
    <%= fields.text_field :start_on %>
  </div>
</div>

<div class="control-group">
  <%= label_tag :end_date, "End Date", :class => 'control-label' %>
  <div class="controls">
    <%= fields.text_field :end_on %>
  </div>
</div>