<h1><%= @report.title %></h1>
<div class="line"></div>

<% unless @report.data.nil? %>
<table class="table table-hover table-bordered">
  <tr>
    <% @report.table_headers.each do |header| %>
      <th><%= header %></th>
    <% end %>
  </tr>

  <% @report.data.each do |row| %>
  <tr>  
    <% row.attributes.each_pair do|name, value| %>
      <td><%= value %></td>
    <% end %>
  </tr>
  <% end %>
</table>

<% else %>
  No data
<% end %>

